@import url("contrast_mode.css");
@import url("blue_filter.css");
@import url("tab_navigation.css");


* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
	outline: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.accessBtn.sapUiIcon{
	border: none;
	outline: none;
}


.accessibilityResponsivePopover.sapMPopover{
    max-width: 90% !important;
    height: auto !important;  
    min-width: 250px !important; 
}

.optionsContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.titleStyle{
    font-size: small !important;
    font-weight: bold !important;
}

.accessPopoverContentBtn .sapMBtnContent{
	color: black;
}

.accessPopoverContentBtn .sapMBtnInner{
	border: none ;
	outline: none ;
	font-size: small ;
	display: flex;
	justify-content: start;
	align-items: center;
	gap:0px 20px;
	width: 100%;
	padding-left: 20px !important;
}

.accessPopoverContentBtn.sapMBtnBase{
	width: 100%;
}

.sapMPanelWrappingDivTb{
	border: none;
}

.expandBtn .sapMBtnInner{
	/* padding-left: 30px !important; */
	border: none ;
	outline: none ;
	font-size: small ;
	display: flex;
	justify-content: start;
	align-items: center;
	gap:0px 20px;
	padding: 0px 10px !important;

}

.expandBtn .sapMBtnContent{
	color: black;
}

.expandBtn.sapMBtnBase{
	display: flex;
	align-items: center;
	justify-content: start;
	margin-left:50px !important;
}

#__panel0-expandButton{
	margin-left: 10px !important;
}

#__panel1-expandButton{
	margin-left: 10px !important;
}


#__panel2-expandButton{
	margin-left: 10px !important;
}


#__panel3-expandButton{
	margin-left: 10px !important;
}


.expandPanel .sapMPanelContent{
	padding: 20px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.expandPanel .sapMInputBaseContentWrapper {
	margin: auto !important;
}

.fontSizeAccess .sapMInputBaseInner{
	margin: auto !important;
	border: none;
	outline: none;

}

.sliderStyle {
    width: 90%;
}

.fontSizeExample {
    margin-top: 10px;
    text-align: center;
}





