.sapMPopover{
    width: 280px !important;
}

.optionsContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.accessPopoverHeaderIcons .sapMBtnInner{
	border: none;
	outline: none;
}

.titleStyle{
    font-size: small !important;
    font-weight: 200 !important;
}

.accessPopoverContentBtn .sapMBtnContent{
	color: black !important;
}

.accessPopoverContentBtn .sapMBtnInner{
	border: none ;
	outline: none ;
	font-size: small ;
	display: flex;
	justify-content: start;
	align-items: center;
	gap:0px 10px;
	width: 100%
} 
.accessPopoverContentBtn .sapMBtn {
	border: none;
	outline: none;
	width: 100%;
}

.accessPopoverPanel .sapMPanel{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}